@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}  

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat-Medium;
}

.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}



/* ------- Navigation ------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84%;
  margin: auto;
  padding: 50px 0;
}

.logo {
    max-width: 100%;
  }
  
ul {
    display: flex;
    list-style-type: none;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 8px 24px 0 0;
}

nav ul li a{
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-family: Montserrat-medium;
  
}

nav ul li a:hover{
  background-color: #1C38F5;
  color: #fff;
}

  @media screen and (max-width: 800px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    ul {
        padding: 8px 0 0 0;
        flex-direction: column;
        max-width: 100%;
        text-align: left;
    }
  
    li {
        text-align: left;
    }
  }





/* ------- sections ------- */
.sections {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0;
    display: flex;
    gap: 40px;
  }
  
  .section1 {
    flex: 40%;
  }
  
  .section2 {
    flex: 60%;
  }
  
  @media (max-width: 800px) {
    .sections {
      flex-direction: column;
    }
  
    .section1,
    .section2 {
      flex: 1;
      margin-bottom: 40px;
    }
  }
  
/* ------- section1 ------- */
.Introductiontext {
    width: 500px;
    color: var(--text-text-primary, #7C7C7C);
    font-size: 16px;
    font-family: Montserrat-medium;
    font-weight: 500;
    line-height: 140%;
    word-wrap: break-word;
  }

.section1 p {
  font-size: 24px;
  color: var(--text-text-primary, #202020);
}
  
/* ------- section2 ------- */

.worklinks .a {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.Textlink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.TextlinkDefault {
    display: flex;
    align-items: flex-start;
    gap: 9px;

    color: var(--text-text-primary, #202020);
    padding-bottom: both;
    text-indent: cap;
    font-size: 48px;
    font-family: Montserrat-semibold;
    font-style: normal;
    line-height: 100%;
} 

.section2 .TextlinkDefault:hover{
    text-decoration-line: underline;
}

.LabelCasestudy {
  color: var(--color-brand-blue, #1C38F5);
  font-size: 12px;
  font-family: Montserrat-semibold;

  border-radius: 4px;
  border: 2px solid var(--color-brand-blue, #1C38F5);
  width: 70px;
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonPrimary a{
  width: 140px; 
  height: 30px; 
  padding: 10px;
  margin-right: 10px;
  background: var(--text-text-primary, #202020);
  border-radius: 4px; 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
  
  
  color: #FDFDFD; 
  font-size: 16px; 
  font-family: Montserrat-regular;
  text-decoration: none;
}

/* ------- work.html ------- */
.grid {
  display: flex;
  align-items: left;
  align-content: flex-start;
}
  
.grid .box {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}


.ProjectThumbnailBox .ProjectName {
  color: #202020;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.ProjectThumbnailBox:hover .ProjectName {
  opacity: 1;
  visibility: visible;
}

.ProjectThumbnailBox {
  position: relative;
  display: flex;
  width: 480px;
  height: 480px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* ------- workSecondteam.html ------- */

.workdetail {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;

  width: 256px;
  min-width: 256px;
  gap: 24px;
}

.workdetail a {
  font-size: 24px;
  font-weight: 600;
}


.imageBox {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: top;

  width: 1200px;
  gap: 0px;
}

.imageBox img {
  width: 100%; /* Make the images fit to the ImageBox 100% */
  height: auto; /* Maintain the aspect ratio of the images */
}

@media (max-width: 800px) {
  .imageBox {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}


